{% extends 'base.html.twig' %}

{% block title %}Factuur index{% endblock %}

{% block body %}
    <h1>Factuur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FactuurDatum</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for factuur in factuurs %}
            <tr>
                <td>{{ factuur.id }}</td>
                <td>{{ factuur.FactuurDatum ? factuur.FactuurDatum|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('factuur_show', {'id': factuur.id}) }}">show</a>
                    <a href="{{ path('factuur_edit', {'id': factuur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('factuur_new') }}">Create new</a>
{% endblock %}
