<form method="post" action="{{ path('cursus_type_delete', {'id': cursus_type.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cursus_type.id) }}">
    <button class="btn">Delete</button>
</form>
