{% extends 'base.html.twig' %}

{% block title %}Edit CursusType{% endblock %}

{% block body %}
    <h1>Edit CursusType</h1>

    {{ include('cursus_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('cursus_type_index') }}">back to list</a>

    {{ include('cursus_type/_delete_form.html.twig') }}
{% endblock %}
