{% extends 'base.html.twig' %}

{% block title %}New CursusType{% endblock %}

{% block body %}
    <h1>Create new CursusType</h1>

    {{ include('cursus_type/_form.html.twig') }}

    <a href="{{ path('cursus_type_index') }}">back to list</a>
{% endblock %}
